
.results-table{
    display: inline-block;
    position: relative;
    margin-top: 0;
    height: calc(95% - 60px);
    width: calc(100% - 40px);
    overflow: hidden;

}

.results-table label{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-body{
    overflow: auto;
}

.gridjs-table{
    overflow: auto;
    max-height: 100%;
}

.gridjs-container{
    height: 100%;
    overflow: hidden;
}

.gridjs-wrapper{
    max-height: 100%;
    overflow: hidden;
}

.grid-wrapper{
    height: 100%;
    overflow: hidden;
}