
.results-table{
    display: inline-block;
    position: relative;
    margin: 0 inherit;
    height: calc(95% - 60px);
    width: calc(100% - 40px);
    overflow: scroll;

}

.results-table label{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.gridjs-wrapper{
    margin-left: 0
}


.gridjs-td *{
    padding: 0;
    margin: 0;
    max-width: 100%;
}