

.selection-table{
    border-radius: 10px;
    display: inline;
    height: calc(100% - 20px);
    width: 20%;
    margin-right: 0;
    margin-bottom: 0;
}

#queries-title {
  display: flex;
  align-items: center;
  height: fit-content;
}

.selection-table-box {
  margin-top: 0;
  height: calc(95% - 60px);
}

#query-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.query-entry {
  margin: 0;
  padding: 0;
}

.query-entry * {
  margin: 0;
  margin-top: 5px;
}

.extend-container {
  display: flex;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.extend-container * {
  display: inline-block;
}

.query-selector {
  flex: 1;
  text-align: start;
  width: fit-content;
  background-color: inherit;
  border: 0;
  font-size: medium;
  font-weight: bolder;
  border: none;
  box-shadow: none;
  margin-right: 10px;
}

.query-entry .query-selector {
  user-select: none;
}

.query-entry .query-selector:hover {
  user-select: none;
  cursor: pointer;
}

.arrow {
  padding: 0;
  float: right;
  margin-left: auto;
}

.arrow:hover{
  cursor: pointer;
}

.arrow::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left-color: gray;
  transform-origin: 0 50%;
  transition: transform 0.25s;
}

.arrow.down::before {
  transform: rotate(90deg);
  transition: transform 0.25s;
}

.extended-content {
  margin-left: 8%;
}
