.App{
    width: 100%;
    height: 100%;
}

.app-title{
    height: 5%;
}

.app-body{
    width: 100%;
    height: 85%;
    align-items: center;
    justify-content: center;
    display: flex;

}


.app-body *{
    margin: 20px;
}

footer{
    align-content: center;
    text-align: center;
}

