.right-field{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: calc(80% - 60px);
    height: calc(100% - 40px);
    background-color: lightgray;
}

.control-section{
    height: 5%;
}

button{
    height: 50%;
    width: 4%;
}

#refresh-button{
    float: inline-start;
}

#query-name-label{
    display: inline-block;
}

#login-button{
    float: inline-end;
}