.right-field{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: calc(80% - 60px);
    height: calc(100% - 40px);
}

.control-section{
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    height: 50%;
    width: 4%;
}

#refresh-button{
    width: fit-content;
}

#query-name-label{
    margin-right: 40px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.form-button{
    width: fit-content;
    margin: inherit 0
}

.refresh-button-container{
    flex: 1;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

#query-information{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
}


.information-box{
    overflow: hidden;
}

.information-box label{
    display: flex;
    min-width: 150px;
    justify-content: flex-start;
    white-space: nowrap;
    align-items: center;
}

#query-information *{
    margin-left: 0;
}

.stopWatch{
    margin-right: 0;
    margin-left: 20px;
}

.login-form{
    flex: 1;
    display: flex;
    margin: 0;
    margin-left: auto;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.login-form form{
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
}



#logged-in-label{
    display: flex;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#logged-in-label strong{
    margin: 0;
    margin-right: 5px;
}

#idp-label{
    margin-right: 0;
}

.error-label{
    color: red;
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
}