
:root {
    --text-color: black;
    --title-color: black;
}


.App{
    width: 100%;
    height: calc(100% - 40px);
    align-self: center;
    justify-self: center;
}

header{
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 30px;
}

.logo{
    display: block;
    max-height: 100%;
    max-width: 200px;
    object-fit: cover;
}

header a {
    max-height: 100%;
    max-width: 20%;
    margin-right: 20px;
}



.app-title{
    margin-left: 0;
    font-size: 225%;
}

.app-body{
    color: var(--text-color);
    width: 100%;
    height: calc(85%);
    align-items: center;
    justify-content: center;
    display: flex;

}


.app-body *{
    margin: 20px;
}

footer{
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: inherit;
}
