

.selection-table{
    display: inline;
    height: calc(100% - 40px);
    width: 20%;
    margin-right: 0;
    background-color: lightgray;
}

#querries-title{
    display: flex;
    align-items: center;
    height: 5%;
}

.selection-table-box{
    margin-top: 0;
    height: calc(95% - 60px );
}

#querry-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.querry-entry{
    margin: 0;
    padding: 0;
}

.querry-entry *{
    margin: 0;
        margin-top: 5px;

}

.extend-container{
    display: flex;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.extend-container *{
    display: inline-block;
}

.querry-entry .querry-selector{
    user-select: none;
}

.querry-entry .querry-selector:hover{
    user-select: none;
    cursor: pointer;
}

.arrow {
    padding: 0;
    float: right;
    margin-left: auto;
}
  
  .arrow::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-left-color: gray;
    transform-origin: 0 50%;
    transition: transform .25s;
  }
  
  .arrow.down::before {
    transform: rotate(90deg);
    transition: transform .25s;
  }

.arrow:hover{
    cursor: pointer;
}


.extended-content{
    margin-left: 4%;
}